In [6]:
from cdapython import Q,unique_terms

In [7]:
Q('researchsubject_identifier_system IN ("GDC")').subject.count.run()

Getting 100 results from database

                            Total execution time: 0
                            min 3.802 sec 3802 ms

  files : 2977624

   total : 88934

sex,count
female,46733
male,41384
unknown,63
not reported,106
None,609
F,19
M,19
unspecified,1
race,count
white,51355
Unknown,4129
american indian or alaska native,123
black or african american,4773
asian,3232
not reported,21213
other,1155
not allowed to collect,2058
unknown,193
None,647
native hawaiian or other pacific islander,56
ethnicity,count
Unknown,4550
not hispanic or latino,50108
not reported,26359
hispanic or latino,3567
not allowed to collect,3652
unknown,51
None,647
cause_of_death,count
None,87664
Cancer Related,632
Not Reported,289
Unknown,197
Infection,18
Surgical Complications,8
Not Cancer Related,113
"Cardiovascular Disorder, NOS",6
Toxicity,7
subject_identifier_system,count
PDC,1826
GDC,88934
IDC,12495

In [8]:
df = unique_terms("subject_id", system="GDC", page_size=10000).get_all().to_dataframe()

print(df)

Output()

                   id
0      APOLLO.AP-27JZ
1      APOLLO.AP-2E8Q
2      APOLLO.AP-2XNK
3      APOLLO.AP-3336
4      APOLLO.AP-352Q
...               ...
88929             NaN
88930             NaN
88931             NaN
88932             NaN
88933             NaN

[88934 rows x 1 columns]

In [10]:

df["id"][10000]

nan