In [2]:
from matplotlib import pyplot
from cdapython import Q 
Q.set_host_url("http://35.192.60.10:8080/")
print(Q.get_version())
print(Q.bigquery_status())

2022.6.2
everything is fine

In [18]:
from tests.global_settings import host,localhost
from pandas import json_normalize
q1 = Q('ResearchSubject.Diagnosis.stage = "Stage I"')
q2 = Q('ResearchSubject.Diagnosis.stage = "Stage II"')
q3 = Q("ResearchSubject.primary_diagnosis_site = 'Kidney'")
q_diag = q1.Or(q2)
q = q_diag.And(q3)
# print(q.counts.run())
qsub = q.subject.count.run(host=host, show_sql=True)
%matplotlib inline
qsub.to_dataframe()

Getting results from database

Total execution time: 3683 ms

,total,files,system,sex,race,ethnicity,cause_of_death
0,3627,475184,"[{'system': 'GDC', 'count': 3296}, {'system': ...","[{'sex': 'male', 'count': 2114}, {'sex': 'fema...","[{'race': 'white', 'count': 2217}, {'race': No...","[{'ethnicity': 'not reported', 'count': 961}, ...","[{'cause_of_death': None, 'count': 3508}, {'ca..."