In [1]:
from cdapython import Q,unique_terms

In [2]:
Q.set_default_project_dataset("broad-dsde-dev.cda_dev")
Q.set_host_url("https://cancerdata.dsde-dev.broadinstitute.org/")

print(Q.get_host_url())
print(Q.get_default_project_dataset())

https://cancerdata.dsde-dev.broadinstitute.org/

broad-dsde-dev.cda_dev

In [3]:
mylist = Q('ResearchSubject.Specimen.specimen_type= "slide" OR file.data_type = "Slide Image"').specimen.file.run(filter="id"
, show_sql=True)
mylist

Getting results from database

Total execution time: 7374 ms 7.374 sec 0 min

            Query:SELECT results.* EXCEPT(rn) FROM (SELECT ROW_NUMBER() OVER (PARTITION BY all_Files_v3_0_final.id) as rn, all_Subjects_v3_0_final.id AS id FROM broad-dsde-dev.cda_dev.all_Subjects_v3_0_final AS all_Subjects_v3_0_final INNER JOIN UNNEST(all_Subjects_v3_0_final.ResearchSubject) AS _ResearchSubject INNER JOIN UNNEST(_ResearchSubject.Specimen) AS _ResearchSubject_Specimen INNER JOIN UNNEST(_ResearchSubject_Specimen.Files) AS _ResearchSubject_Specimen_Files INNER JOIN broad-dsde-dev.cda_dev.all_Files_v3_0_final AS all_Files_v3_0_final ON all_Files_v3_0_final.id = _ResearchSubject_Specimen_Files WHERE ((IFNULL(UPPER(_ResearchSubject_Specimen.specimen_type), '') = UPPER('slide')) OR (IFNULL(UPPER(all_Files_v3_0_final.data_type), '') = UPPER('Slide Image')))) as results WHERE rn = 1
            Offset: 0
            Count: 100
            Total Row Count: 496454
            More pages: True

In [4]:
p = mylist.auto_paginator(to_df=True,limit=20000)

Output()

In [6]:
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496454 entries, 0 to 99
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      496454 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

In [ ]:
localhost = "http://localhost:8080"
d = unique_terms(
        "species", host=localhost, table="gdc-bq-sample.dev", show_sql=True
    )

In [30]:
d.to_dataframe()

                               species   Count
0                     canis familiaris      57
1                         home sapiens       1
2                         homo sapiens  138023
3           homo sapiens; mus musculus      41
4   internal reference - pooled sample       1
5                               jhu qc       1
6                         mus musculus     183
7                       normal only ir       1
8                         not reported      19
9                         pnnl-jhu ref       1
10                                 ref       1
11                        taiwanese ir       1
12                       tumor only ir       1

In [ ]:
d = Q('File.associated_project = "%cptac%"').file.run(limit=2000,async_call=True)

Getting results from database

Waiting for results